header {
  background-color: $background-color-header;
    display: flex;
    justify-content: space-between;
    padding: 5vh 9.5vw 2px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 10px;
    width: 100%;
} 
  
.header-icons {
    display: flex;
    gap: 20px;
}
  
.dehaze {
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined:hover {
  cursor: pointer;
  color: $main-color-violet;
  font-variation-settings:
  'FILL' 1, 
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.search-icon {
  display: flex;
  gap: 15px;
}

.search-field {
  border: none;
  background: none;
  border-bottom: gray 1px solid;
  width: 300px;
}