 .header-txt-f {
    // font-family: Calibri;
    font-size: 35px;
    color: #fb9d06;
}
  
.header-txt-s {
    // font-family: Calibri;
    font-size: 37px;
    color: #6e6d6b;
    text-transform: uppercase;
    font-weight: bold;
}