 .header-txt-f {
    // font-family: Calibri;
    font-size: 35px;
    color: $main-color-one;
}
  
.header-txt-s {
    // font-family: Calibri;
    font-size: 37px;
    color: $main-color-two;
    text-transform: uppercase;
    font-weight: bold;
}