.footer_accordion {
    display: none;
}

footer {
    background-color: $main-color-violet;
    color: $background-color;
    padding: 80px 10%;
    display: flex;
    
    .block-item {
        padding-bottom: 10px;
    }

    .footer-header {
        font-size: 20px;
        font-weight: bold;
    }

    .info_items, .cabinet_items, .contact-info_items, .sns_items {
        padding-top: 20px;
    }

    .information, .my-cabinet, .contacts-info, .social-networks {
        width: auto;
    }

    .sns_items {
        font-size: 25px;
        .sns-icons {
            display: flex;
            gap: 15px;
        }
        .row {
            display: flex;
            padding-top: 25px;
            .row-text {
                font-size: 15px;
            }
        }
    }
}

@media (max-width:600px){
    .my-cabinet, .contacts-info, .information {
        display: none;
    }

    footer {
        height: fit-content;
    }

}
