footer {
    background-color: $main-color-violet;
    color: $background-color;
    .footer_box {
        padding: 80px 10%;
        display: flex;
        .without-sns {
            display: flex;
            // .block {
            //     width: 33%;
            // }
        }
    }
    
    .block-item {
        padding-top: 10px;
    }

    .footer-header {
        font-size: 20px;
        font-weight: bold;
    }

    .info_items, .cabinet_items, .contact-info_items, .sns_items {
        padding-top: 20px;
    }


    .sns_items {
        font-size: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .sns-icons {
            display: flex;
            gap: 15px;
        }
        .row {
            display: flex;
            gap: 10px;
            .row-text {
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 600px){
    footer {
        height: 250px;
        .footer_box {
            padding: 50px 10px;
            gap: 15vw;
            // justify-content: space-around;
        }
    }
    .without-sns {
        flex-direction: column;
        .footer-header {
            font-size: 13px;
            font-weight: 100;
            padding: 5px 0;
            border-bottom: $border-bottom;
        }
        // .block {
        //     width: 100%;
        // }
    }

    .information, .my-cabinet, .contacts-info {
        .footer-header:after {
            content: '\f078'; 
            font-family: "Font Awesome 6 Free";
            font-weight: 600;
            font-size: 10px;
            color: $background-color;
            padding: 0 5px;
            float: right;
        }     

    }
    .info_items, .contact-info_items, .cabinet_items{
        display: none;
    }
    .footer-header {
        &.sns {
            font-size: 13px;
            font-weight: bold;
            padding: 5px 0;
        }
    }

    .sns_items {
        padding-top: 0px;
        gap: 20px;
        .sns-icons {
            font-size: 15px;
            &.none {
                display: none;
            }
        }
    
    }
}
