.partnership {
    &_container {
        padding-top: 150px;
        .part-header_text1 {
            font-size: 40px;
            font-weight: bold;
        }
        .part-header_text2 {
            padding-top: 70px;
            font-size: 16px;
        }
        .text-between {
            padding-top: 60px;
            font-size: 20px;
            font-weight: bold;
        }
        .material-symbols-outlined {
            color: $main-color-violet;
            font-size: 35px;
        }       
        .material-symbols-outlined:hover {
            cursor: auto;
            font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 48
        }
    }
}

.partnership_row1 {
    padding-top: 60px;
    display: flex;
    gap: 4%;

    .row-item {
        width: 25%;
        text-align: center;
    }
    .str1 {
        font-size: 20px;
        font-weight: bold;
    }
}

.partnership_row2 {
    display: flex;
    text-align: center;
    padding-top: 65px;
    .row-icon {
        width: 25%;
    }
}

@media (max-width: 600px) {
    .partnership {
        &_container {
            padding-top: 60px;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            .part-header_text1 {
                font-size: 25px;
                font-weight: bold;
            }
            .part-header_text2 {
                padding-top: 30px;
                font-size: 12px;
            }
            .text-between {
                padding-top: 60px;
                font-size: 20px;
                font-weight: bold;
            }
            
        }
    }

    .partnership_row1 {
        justify-content: center;
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 30px;

        .row-item {
            width: 40%;
            height: 75px;
            text-align: start;
            background-color: $main-color-violet;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .str1 {
            font-size: 12px;
            font-weight: bold;
            color: $background-color;
            padding: 0;
            text-align: center;

        }

        .str2{
            display: none;
        }
 }

 .partnership_row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    gap: 40px;
    .row-icon {
        width: 100%;
    }
}

}