.person_container .customer-page_content {
  display: none;
}

.person_container:hover .customer-page_content {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 65px;
    right: 143px;
    width: 210px;
    height: 240px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0px 2px 5px $box-shadow-color-one;
    & .line {
        border-bottom: $customer-page-line-color 1px solid ;
    }

    & .shopping_bag, .favorite, .visibility {
        display: flex;
        gap: 13px;
      }

      & .shopping_bag:hover, .favorite:hover, .visibility:hover {
       color: $main-color-violet;
       cursor: pointer;
      }
      
    & .shopping_bag-txt, .favorite-txt, .visibility-txt {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .login-button-box {
      display: flex;
      justify-content: center;
      & .customer-page {
          width: 109px;
          height: 26px;
          font-size: 14px;
          font-weight: bold;
          text-align: center;
          background-color: $main-color-violet;
          color: white;
          border: none;
        }
        & .customer-page:hover {
          background-color: $background-color;
          color: $main-color-violet;
          border: $main-color-violet 1px solid;
          cursor: pointer;
      }
    }
}

.person_container:hover .person_button {
  color: $main-color-violet;
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.photo_box {
  display: flex;
  padding: 10px;
  justify-content: center;
  & .photo {
    border: 1px gray solid;
    border-radius: 50%;
    padding: 12% 12%;
    // background-position: 65% 30%;
    background-image: url("/img/ГлавнаяСтраницаСлева.jpg");
  }
}

.customer-page_box {
  padding: 10px 23px;
}




