.main-page {
    display: flex;
    padding-top: 120px;
    &_column {
      width: 50%;
    }
    & .right-col {
      display: flex;
      justify-content: end;
    }
    & img {
      box-shadow: 0px 2px 5px $box-shadow-color-one;
    }
}

.main-page-text {
    padding-top: 60px;
    & .greeting {
        font-size: 60px;
        font-weight: bold;
        padding-bottom: 60px;
    }
    & .txt-cokteil {
       font-family: 'Bad Script', cursive;
       color: $main-color-violet;
       font-weight: 100;
    }
    & .txt-cokteil::first-letter {
        font-family: 'Roboto', sans-serif;
        color: black; 
        font-weight: bold;
    }
}