.why-we {
    &_container {
        padding-top: 150px;
        // padding-right: 140px;
        .row1  {
            padding-top: 95px;
            display: flex;
            justify-content: space-between;
            gap: 100px;
        }
        .row2  {
            padding-top: 95px;
            display: flex;
            justify-content: space-around;
            gap: 100px;
        }
        .slider_item {
            width: 40%;
        }
}
    &_header {
        font-size: 40px;
        font-weight: bold;
    }

}

.row_item {
    width: 15%;
}

@media (max-width:600px) {
    .why-we_inline {
        display: none;
    }

    .why-we_header {
        font-size: 25px;
    }
}