.why-we_slider, .chevron-left, .chevron-right {
    display: none;
}

.why-we {
    &_container {
        position: relative;
        padding-top: 150px;
        padding-right: 140px;
        .items_row1  {
            padding-top: 95px;
            display: flex;
            justify-content: space-between;
            // gap: 5vw;
        }
        .items_row2  {
            padding-top: 95px;
            margin-bottom: 120px;
            display: flex;
            justify-content: space-around;
        }
        .row_item {
            width: 12vw;
        }
        .slider_item {
            width: 40%;
        }
    }
    &_header {
        font-size: 40px;
        font-weight: bold;
    }
    &_inline {
        .circle {
            position: relative;
            color: $main-color-violet;
            &::after {
                content: "";
                position: absolute;
                right: 0;
                border-radius: 50%;
                background-color: $main-color-violet;
                box-shadow: $circles-button-box-shadow;
            }
            &.big::after {
                width: 50px;
                height: 50px;
            }
            &.small::after {
                width: 30px;
                height: 30px;
            }
            &.top1::after {
                top: 0;
                transform: translate(100%, -70%);
            }
            &.top2::after {
                top: 0;
                transform: translate(100%, -30%);
            }
            &.bottom1::after {
                bottom: 0;
                transform: translate(-100%, 50%);
            }
            &.bottom2::after {
                bottom: 0;
                transform: translate(70%, 70%);
            }
        }
    }
    &_box {
        .circle_container {
            max-width: 190px;
            height: 380px;
            // fill: transparent;
            // background-color: transparent;
            position: absolute;
            overflow: hidden;
            margin-right: 58px;
            right: -208px;
            top: 0px;
            .one {
              width: 380px;
              height: 380px;
              border-radius: 50%;
              border: $main-color-violet 1px solid;
            }
            
          }
    }
}

@media (max-width:600px) {

    .why-we{
        &_slider {
            display: block;
        }
        &_container {
            display: flex;
            padding-top: 50px;
            padding-right: 0px;
            width: 100%;
            .why-we_box {
                width: 95%;
            }
        }
        &_header {
            font-size: 25px;
            padding-bottom: 30px;
        }
    }


    .why-we_inline {
        display: none;
    }

    .why-item-box {
        padding-left: 10px;
        padding-right: 10px;
    }

    .why-slider_item  {
        color: $background-color;
        background-color: $main-color-violet;
        border-radius: 10px;
        height: 75px;
        // width: 85%;
        display: flex;
        align-items: center;
    } 

    .chevron-left, .chevron-right {
        color: $main-color-violet;
        display: flex;
        align-items: end;
        margin-bottom: 30px;
    }
}