.why-we_slider_container {
    display: none;
}

.why-we {
    &_container {
        padding-top: 150px;
        // padding-right: 140px;
        .row1  {
            padding-top: 95px;
            display: flex;
            justify-content: space-between;
            gap: 100px;
        }
        .row2  {
            padding-top: 95px;
            display: flex;
            justify-content: space-around;
            gap: 100px;
        }
        .slider_item {
            width: 40%;
        }
}
    &_header {
        font-size: 40px;
        font-weight: bold;
    }

}

.row_item {
    width: 15%;
}

@media (max-width:600px) {
    .why-we{
        &_inline {
            display: none;
        }
        &_slider {
            display: block;
            padding-top: 30px;
        }
        &_header {
            font-size: 25px;
        }
    }

    .why-item-box {
        display: flex;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .why-slider_item  {
        color: $background-color;
        background-color: $main-color-violet;
        border-radius: 10px;
        height: 75px;
        // width: 85%;
        display: flex;
        align-items: center;
    } 
}