.menu {
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}

.menu:hover {
    cursor: pointer;
}

.main-menu {
    display: flex;
    gap: 60px;
}

.icon-txt {
    font-family: Calibri;
    color: $menu-txt;
    font-weight: bold;
}