.catalog-container {
    display: flex;
    justify-content: center;
  }
  
.catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 50%;
    border: $main-color-violet 1px solid;
    width: 190px;
    height: 190px;
    color: $main-color-violet;
    background: none;
    font-size: larger;
}
  
.catalog:hover{
    color: $background-color;
    background-color: $main-color-violet;
    cursor: pointer;
    box-shadow: $circles-button-box-shadow;
    & .arrow {
      background: none;
      color: $background-color;
      font-variation-settings:
      'FILL' 0, 
      'wght' 300,
      'GRAD' 0,
      'opsz' 48
  }
}

  @media (max-width: 600px) {
    .catalog-container {
      padding-top: 30px;
    }
    .catalog {
      width: 137px;
      height: 137px;
      font-size: 16px;
      background-color: $main-color-violet;
      color: $background-color;
    }

    .catalog:hover {
      box-shadow: none;
      color: $main-color-violet;
      background-color: $background-color;
      & .arrow {
        background: none;
        color: $main-color-violet; 
      }
    }
  }