<div class = "slider-items_container">
    <div class = "slider-img-box">
        <img class = "slider-img" src = "./img/ГлавнаяСтраницаСлева.jpg" width="238" height="202">
    </div>
    <div class = "description">
        <div class = "des-text">
            <div class = "price">
                <div class="sale-price">50.00 p.</div>
                <div class="old-price"> 65.00 p. </div>
            </div>
            <div class="item-name">Блузка женская</div>
        </div>
        <div class = "des-icons">
            <div class = "left-icon">
                <span class = "material-symbols-outlined @@left-icon">
                    @@left-icon
                </span>
            </div>
            <div class = "right-icon">
                <span class = "material-symbols-outlined @@right-icon">
                    @@right-icon
                </span>
            </div>
        </div>
    </div>
    <div class = "last-row">
        <button class = "more-button">
            Подробнее
            <span class="material-symbols-outlined arrow">
                arrow_right_alt
              </span>
        </button>
        <div class = "stars">
            <div class = "star">
                <span class="material-symbols-outlined star_rate">
                    star_rate
                </span>
            </div>
            <div class = "star">
                <span class="material-symbols-outlined star_rate">
                    star_rate
                </span>
            </div>
            <div class = "star">
                <span class="material-symbols-outlined star_rate">
                    star_rate
                </span>
            </div>
            <div class = "star">
                <span class="material-symbols-outlined star_rate">
                    star_rate
                </span>
            </div>
        </div>
    </div>
</div>