.sale_header {
    font-size: 40px;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 400px;
    & .purple {
        font-weight: 100;
        color: $main-color-violet;
        font-family: Bad Script;
        margin-top: -20px;
        padding-right: 30px;
        text-align: end;
    }
}