<div class = "modal on">
    <div class = "modal_content">
        <div class = "modal_close_box">
            <button class = "modal_close">
                <span class="material-symbols-rounded">
                    close
                </span>
            </button>
        </div>
        <div class="loginHeader"> Вход в личный кабинет </div>
        <div class="modal_text">
            <input type = "text" placeholder="Электронная почта" class = "field email-field" >
        </div>
        <div class="modal_text">
            <input type = "text" placeholder="Пароль" class = "field password-field" >
        </div>
        <div class = "modal_footer">
            <button class = "loginTwo button">Войти в кабинет</button>
            <button class = "reg button">Регистрация</button>
        </div>
    </div>
</div>