<div class = "modal on">
    <div class = "modal_content">
        <div class = "modal_close_box">
            <button class = "modal_close">
                <span class="material-symbols-rounded">
                    close
                </span>
            </button>
        </div>
        <div class = "modal_text-container">
            <div class="modal_text"> Вход в личный кабинет </div>
            <div class="modal_text">
                <input type = "text" placeholder="Электронная почта" class = "name-field" >
            </div>
            <div class="modal_text">
                <input type = "text" placeholder="Пароль" class = "name-field" >
            </div>
        </div>
    </div>
</div>