<div class = "modal">
    <div class = "modal_content">
        <input type = "radio" name = "switch" id = "loginBut" class = "auth-input" checked>
        <input type = "radio" name = "switch" id = "regBut" class = "auth-input">
        <div class = "modal_close_box">
            <button class = "modal_close">
                <span class="material-symbols-rounded">
                    close
                </span>
            </button>
        </div>
        <div class = "modal_content_login">
            <div class="loginHeader"> Вход в личный кабинет </div>
            <form >
                <div class="modal_text">
                    <input type = "text" placeholder="Электронная почта" class = "field email-field" >
                </div>
                <div class="modal_text">
                    <input type = "password" placeholder="Пароль" class = "field password-field" >
                </div>
                <div class="label">
                    <label class = "regLabel" for = "regBut">Первый раз на сайте?</label>
                </div>
                <button class = "loginCabinet button"> Войти в кабинет </button>
            </form>
        </div>
        <div class = "modal_content_reg">
            <div class="loginHeader"> Регистрация </div>
            <form>
                <div class="modal_text">
                    <input type = "text" placeholder = "ФИО" class = "field flName-field" >
                </div>
                <div class="modal_text">
                    <input type = "text" placeholder = "Электронная почта" class = "field email-field" >
                </div>
                <div class="modal_text">
                    <input type = "password" placeholder = "Пароль" class = "field password-field" >
                </div>
                <div class="label">
                    <label class = "loginLabel" for = "loginBut">Уже есть страница? Войти</label>
                </div>
                <button class = "button send">Отправить</button>
            </form>
        </div>
    </div>
</div>