.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(108, 108, 108, 0.7);
    &.on {
        display: flex;
        // .reg {
        //     &.button {
        //         color: $main-color-violet;
        //         font-weight: bold;
        //         background: none;
        //         cursor: pointer;
        //     }
        // }
    }

    &_content {
        position: relative;
        margin: auto;
        width: 900px;
        height: 460px;
        background-color: $background-color;
        padding: 60px;
        .loginHeader {
            font-size: 40px;
            padding-bottom: 30px;
        }
        .field {
            margin-top: 30px;
            font-size: 16px;
        }

        #loginBut:checked ~ .modal_content_login {
            display: block;
        }

        #loginBut:checked ~ .modal_content_reg {
            display: none;
        }

        #loginBut:checked ~ .modal_footer .send {
            display: none;
        }

        #regBut:checked ~ .modal_content_reg {
            display: block;
        }
    
        #regBut:checked ~ .modal_content_login {
            display: none;
        }

        .auth-input {
            display: none;
        }
    }

    &_close {
        &_box {
            display: flex;
            justify-content: end;
        }
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;
        background-color: $main-color-violet;
        color: $background-color;
        justify-content: end;
    }

    &_footer {
        display: flex;
        gap: 45px;
        padding-top: 30px;
    }
}
