<div class = "row-block">
    <p class = "lorem">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem neque harum accusantium minima, ea beatae architecto hic inventore odit, nesciunt pariatur! 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem neque harum accusantium minima, ea beatae architecto hic inventore odit, nesciunt pariatur! 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem neque harum accusantium minima, ea beatae architecto hic inventore odit, nesciunt pariatur!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem neque harum accusantium minima, ea beatae architecto hic inventore odit, nesciunt pariatur!
    </p>
    <div class = "more">read more...</div>
    <!-- <label for = "toggler" class = "more">read more...</label> -->
</div>
