.big-part {
    display: flex;
    flex-direction: column;
}

.team-header, .message-title {
    text-align: center;
    font-size: 35px;
    font-family: 'Josefin Slab', serif;
    text-decoration: underline;
    color: $main-color-one;
    margin: 30px 0 40px;
}
  
.members {
    display: flex;
    gap: 50px;
}
  
.member {
    width: 33%;
    text-align: center;
    color: $main-color-two;
}

.mem-title {
    padding: 10px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.post {
    color: $main-color-one;
}

.photo {
    border: 1px $main-color-one solid;
    border-radius: 50%;
    margin: 10px 0;
    padding: 50% 0;
    text-align: center;
    background-position: 65% 30%; 
}

.Hoof {
    background-image: url('/img/Hoof.jpg');
}

.Nibs {
    background-image: url('/img/Nibs.jpg');
}

