
.first-txt {
    width: 380px;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.655);
    font-size: 35px;
    color: #fb9d06;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .second-txt {
    width: 395px;
    padding: 15px 0;
    text-align: center;
    font-size: 35px;
    color: #6e6d6b;
    background-color: #ffa81bb8;
    text-transform: uppercase;
    font-weight: bold;
  }