body * {
  outline: 1px solid lightgrey;
}

.container {
  font-family: 'Times New Roman';
  border: 3px solid rgb(214, 0, 0);
  margin: 0.25% 0;
}
.main-nav ul, .main-nav li {
  margin-right: 0.25%;
  display: flex;
}
.sub-menu {
  border: 3px dashed rgb(40, 118, 97);
}
.blocks p {
  color: rgb(40, 118, 97);
}
.blocks span {
  display: flex;
}
.inline p {
  color: rgb(0, 10, 198);
  margin-right: 0.3%;
}
.inline {
  border: 7px double rgb(40, 118, 97);
  display: flex;
}


