@import "./variables.scss";
@import "./partials/header/header.scss";
@import "./partials/menu/menu.scss";
@import "./partials/main-page/main-page.scss";

body * {
  // outline: 1px solid lightgrey;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.main-container {
background-color: $background-color;
padding: 0 135px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

// @keyframes animate-down {
//   0% {
//     top: 0;
//     transform: translate(0, -100%);
//   }

//   100% {
//     top: 100%;
//     transform: translate(0%, -100%);
//   }
// }

// @keyframes animate-up {
//   0% {
//     top: 0;
//     transform: translate(0, 100%);
//   }

//   100% {
//     top: 100%;
//     transform: translate(0%, 100%);
//   }
// }

.catalog-container {
  display: flex;
  justify-content: center;
}

.catalog {
  border-radius: 50%;
  border: $main-color-violet 1px solid;
  width: 190px;
  height: 190px;
  color: $main-color-violet;
  background: none;
  font-size: larger;
}

.catalog:hover{
  color: white;
  background-color: $main-color-violet;
  cursor: pointer;
  box-shadow: 0px 0px 30px $main-color-violet;
  & .arrow {
    background: none;
    font-variation-settings:
    'FILL' 0, 
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
  }
}

