@import "./variables.scss";
@import "./sprites.scss";
@import "./partials/logo/logo.scss";
@import "./partials/menu/menu.scss";
@import "./partials/slider/slider.scss";
@import "./partials/big-part/big-part.scss";
@import "./partials/big-part/row.scss";
@import "./partials/big-part/button.scss";
@import "./partials/footer/footer.scss";

// body * {
//   outline: 1px solid lightgrey;
// }

.slider-container, .without-line, .header{
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

textarea {
  resize: none;
}

.fields {
  padding: 0 10px;
}

.mess-label {
  display: grid;
  gap: 50px;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  font-weight: bold;
  grid-template-columns: 50px auto;
  color: $main-color-one;
  margin-top: 25px;
}

input, textarea {
  font-family: 'Josefin Slab', serif;
  background-color: $input-color;
  border-left: 3px $menu-txt solid;
  border-top: 1px $menu-txt solid;
  border-bottom: 0;
  border-right: 0;
}
