$background-color:#fffdf5;
$background-color-header:#f8f6eb;
$main-color-violet: #514a7e;
$circles-button-box-shadow: 0px 4px 10px rgba(81, 74, 126, 0.4);
$customer-page-line-color: #7d7d7d;
$box-shadow-color-one: gray;
$border-bottom: 1px solid rgb(255, 253, 245);
