.faq {
    &_container {
        padding-top: 150px;
    }

    &_header {
        font-size: 40px;
        font-weight: bold;
        width: 50%;
        .purple-txt {
            font-weight: 100;
            color: $main-color-violet;
            font-family: Bad Script;
            margin-top: -20px;
            text-align: end;
        }
    }
}

.accordion_container {
    width: 100%;
}

.accordion {
    background-color: $background-color;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 20px;
    border: none;
    border-bottom: gray 1px solid;
    outline: none;
    transition: 0.4s;
 }

.panel {
    padding: 0 18px;
    background-color: $background-color;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '+'; 
    font-size: 20px;
    color: $main-color-violet;
    float: right;
    margin-left: 5px;
    border-bottom: none;
}

.active:after {
    content: "\e5cd";
    font-family: 'Material Symbols Outlined';
    font-weight: 400;
}

@media (max-width: 600px) {
    .faq {
        &_container {
            padding-top: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &_header {
            font-size: 25px;
            font-weight: bold;
            width: 100%;
            .purple-txt {
                font-weight: 100;
                color: $main-color-violet;
                font-family: Bad Script;
                margin-top: 0px;
                text-align: end;
                padding-right: 15px;
            }
        }
    } 

    .accordion {
        font-size: 12px;
        padding: 0;
    } 
    .panel {
        text-align: left;
        font-size: 10px;
    }

    .accordion:after {
        margin-right: 10px;
    }
}