.contacts_container {
    position: relative;
    padding: 150px 0;
    background-color: $background-color;
    .contacts {
        height: 410px;
        width: 970px;
        background-color: $main-color-violet;
        display: flex;
        align-items: center;
        justify-content: center;
        .contacts_form {
            height: 330px;
            width: 715px;
            background-color: $background-color;
            padding: 35px 50px;
        }
        .header {
            font-size: 20px;
            font-weight: bold;
        }
        .contact-fields {
            display: flex;
            flex-direction: column;
            .field_box {
                padding-top: 25px;
            }
        }
        // .field {
        //     width: 40%;
        //     border: none;
        //     border-bottom: $customer-page-line-color 1px solid;
        //     background-color: $background-color;
        // }
    }
    
    // .button_box{
    //     padding-top: 45px;
    // }
    // .button {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     gap: 5px;
    //     border: $main-color-violet 1px solid;
    //     width: 140px;
    //     height: 35px;
    //     color: $background-color;
    //     background-color: $main-color-violet;
    //     font-size: 15px;
    //     & .arrow {
    //         color: $background-color;
    //     }
    // }

    // .button:hover{
    //     color: $main-color-violet;
    //     font-weight: bold;
    //     background: none;
    //     cursor: pointer;
    //     & .arrow {
    //       background: none;
    //       color: $main-color-violet;
    //       font-variation-settings:
    //       'FILL' 0, 
    //       'wght' 300,
    //       'GRAD' 0,
    //       'opsz' 48
    //   }
    // }

    .contacts_circles {
        max-width: 190px;
        height: 380px;
        position: absolute;
        overflow: hidden;
        margin-right: 58px;
        bottom: 0;
        right: -58px;
        .one {
            width: 380px;
            height: 380px;
            border-radius: 50%;
            border: $main-color-violet 1px solid;
        }
          
    }
}
@media (max-width: 600px) {
    .contacts_circles {
        display: none;
    }
    .contacts_container {
        padding-top: 60px;
        padding-bottom: 0;
        .contacts{
            .field_box {
                display: flex;
                justify-content: center;
            }
            width: 100%;
            padding: 35px 10px;
            .header {
                font-size: 12px;
                font-weight: bold;
            }
            .contacts_form {
                padding: 10%;
            }
            .button {
                display: flex;
                justify-content: center;
                .more-button {
                    font-size: 14px;
                }
            }
            .name-field, .phone-field, .email-field {
                width: 228px;
                text-align: center;
            }
        }
    }
}
